<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Dashboard Tables, Free Admin Template</title>
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/bootstrap/css/style-responsive.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="css/templatemo_main.css">
  <style>


.wrapper{
    margin-top: 0px !important;
}
.recent-activity{
    display: flex !important;
}
.newclass{
  display: flex;
  width: 100%;
}

@media screen and (max-width: 750px) {
    .recent-activity{
    display: flex !important;
    flex-direction: column;
}
.newclass{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
  </style>
  
</head>
<body>
  
    
    


<section  style="width: 100%;" >
    <section class="wrapper site-min-height">
      <div class="row mt">
        <div class="col-lg-12 ">
          <div class="row content-panel newclass">
            <div class="col-md-4 profile-text mt mb centered">
              <div class="right-divider ">
                <h4>A</h4>
                <h6>Section</h6>
                <h4>40</h4>
                <h6>ROll No</h6>
                <h4>Coding School</h4>
                <h6>School Name</h6>
              </div>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
              <h3 style="color: #5bc0de !important; ">Sam Soffes</h3>
             <h4 tyle="color: #5bc0de !important; ">Gender :</h4>
             <h4 tyle="color: #5bc0de !important; ">Date of birth : </h4>
             <h4 tyle="color: #5bc0de !important; ">Phone Number :</h4>
             <h4 tyle="color: #5bc0de !important; ">Email id :</h4>
              <br>
              <p><button class="btn btn-theme" style="background-color: #5bc0de !important; "><i class="fa fa-envelope"></i> Send Message</button></p>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 centered">
              <div class="profile-pic">
                <p><img src="img/ui-sam.jpg" class="img-circle"></p>
                <p>
                  <button class="btn btn-theme" style="background-color: #5bc0de !important; "><i class="fa fa-check"></i> Follow</button>
                  <button class="btn btn-theme02" style="background-color: #5bc0de !important; ">Add</button>
                </p>
              </div>
            </div>
            <!-- /col-md-4 -->
          </div>
          <!-- /row -->
        </div>

        <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                
                <p style="text-align: center;"><button class="btn btn-theme" style="background-color: #5bc0de !important; "><i class="fa "></i> Click Here for the Leader Board</button></p>

                 
                  
                </ul>
              </div>
              <hr>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane active">
                    <div class="row">
                      <div class="col-md-12">
                        
                        
                        <div class="detailed mt">
                          <h4>Recent Activity</h4>
                          <div class="recent-activity">
                            <div class="activity-icon bg-theme"><i class="fa fa-check"></i></div>
                            <div class="activity-panel">
                              <h5>Level-1</h5>
                              <a href="tasksheet.html" ><button class="btn btn-theme">Click Here</button></a>
                            </div>
                            <div class="activity-icon bg-theme02"><i class="fa fa-trophy"></i></div>
                            <div class="activity-panel">
                              <h5>Level-2</h5>
                              <a href="tasksheet.html"  ><button class="btn btn-theme">Click Here</button></a>
                            </div>
                            <div class="activity-icon bg-theme04"><i class="fa fa-rocket"></i></div>
                            <div class="activity-panel">
                              <h5>Level-3</h5>
                              <a href="tasksheet.html"  ><button class="btn btn-theme">Click Here</button></a>
                            </div>
                          </div>
                          <!-- /recent-activity -->
                        </div>
                        <!-- /detailed -->
                      </div>
                      <!-- /col-md-6 -->
                      
                          <!-- /col-md-8 -->
                        </div>
                        <!-- /row -->
                      </div>
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /OVERVIEW -->
                  </div>
                  <!-- /tab-pane -->
                  
                        </form>

        </div>
        </section>
        </section>
        </div>
        
        



        
        </body>