<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>Dashboard Tables, Free Admin Template</title>
  <link href="{{url_for('static',filename='student_profile/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='student_profile/bootstrap/css/style-responsive.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='student_profile/css/style.css')}}">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="{{url_for('static',filename='student_profile/css/templatemo_main.css')}}">
  <style>


.wrapper{
    margin-top: 0px !important;
}
.newclass{
  display: flex;
  width: 100%;
}
@media screen and (max-width: 750px) {
    
.newclass{
  display: flex;
  flex-direction: column;
  align-items: center;
}
}
  </style>
  
</head>
<body>
  
    
    


  <section  style="width: 100%;" >
    <section class="wrapper site-min-height">
      <div class="row mt">
        <div class="col-lg-12 ">
          <div class="row content-panel newclass">
            <div class="col-md-4 profile-text mt mb centered">
              <div class="right-divider ">
                <h4>A</h4>
                <h6>Section</h6>
                <h4>40</h4>
                <h6>ROll No</h6>
                <h4>Coding School</h4>
                <h6>School Name</h6>
              </div>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 profile-text">
              <h3 style="color: #5bc0de !important; ">Sam Soffes</h3>
             <h4 tyle="color: #5bc0de !important; ">Gender :</h4>
             <h4 tyle="color: #5bc0de !important; ">Date of birth : </h4>
             <h4 tyle="color: #5bc0de !important; ">Phone Number :</h4>
             <h4 tyle="color: #5bc0de !important; ">Email id :</h4>
              <br>
              <p><button class="btn btn-theme" style="background-color: #5bc0de !important; "><i class="fa fa-envelope"></i> Send Message</button></p>
            </div>
            <!-- /col-md-4 -->
            <div class="col-md-4 centered">
              <div class="profile-pic">
                <p><img src="img/ui-sam.jpg" class="img-circle"></p>
                <p>
                  <button class="btn btn-theme" style="background-color: #5bc0de !important; "><i class="fa fa-check"></i> Follow</button>
                  <button class="btn btn-theme02" style="background-color: #5bc0de !important; ">Add</button>
                </p>
              </div>
            </div>
            <!-- /col-md-4 -->
          </div>
          <!-- /row -->
        </div>

        <div class="col-lg-12 mt">
          <div class="row content-panel">
            <div class="panel-heading">
              
              <p style="text-align: center;"><button class="btn btn-theme" style="background-color: #5bc0de !important; "><i class="fa "></i> Click Here for the Leader Board</button></p>

               
                
              </ul>
            </div>
        <div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i> Task</h4>
            <div class="form-panel">
              <form role="form" class="form-horizontal style-form">
                <div class="form-group has-success">
                  <label class="col-lg-2 control-label">Question 1</label>
                  <div class="col-lg-10">
                    <textarea type="" placeholder="" id="f-name" class="form-control"></textarea>
                    <p class="help-block">Successfully done</p>
                  </div>
                </div>
                <div class="form-group has-error">
                  <label class="col-lg-2 control-label">Question 2</label>
                  <div class="col-lg-10">
                    <input type="file" placeholder="" id="l-name" class="form-control">
                    <p class="help-block">Aha you gave a wrong info</p>
                  </div>
                </div>
                <div class="form-group has-warning">
                  <label class="col-lg-2 control-label">Question 3</label>
                  <div class="col-lg-10">
                    <input type="file" placeholder="" id="email2" class="form-control">
                    <p class="help-block">Something went wrong</p>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-theme" type="submit">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /form-panel -->
          </div>
          <!-- /col-lg-12 -->
        </div>
</div>
        </div>
        </section>
        </section>
        </div>
        
        



        
        </body>